.CardOpen {
	.input, .author {
		border: none;
		background-color: transparent;
		width: 100%;
	}
}

.CardOpen__annotation {
	margin-right: 15px;
	margin-bottom: 0;
}

.CardOpen__description {
	min-height: 100px;
	height: auto;
	width: 100%;
	border: none;
	background-color: transparent;
}
