.CardOpen__title {
	border: none;
	background-color: transparent;
	width: 100%;
}

.CardOpen__description {
	min-height: 100px;
	height: auto;
	width: 100%;
	border: none;
	background-color: transparent;
}
