.main-header {
	background-color: #40A35B;
	padding: 10px 15px;
	& h1 {
		font-family: 'Sansita Swashed', cursive;
		color: #eee;
	}
}

.section-board {
	margin-top: 20px;
	.card {
		padding: 15px;
	}
	.column {
		& textarea {
			height: 40px;
		}
	}
	ul {
		margin-top: 20px;
	}
	.add-card {
		margin-top: 20px;
	}
}